.jumbotron{
     margin-top: 40px;
}

body{
   
    color:black;
    font-family: Roboto;
    
   }
  
.form{
        margin-bottom:70px;
    
}

.jumbotron{
    margin:50px;

}

.field{
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}



.field-label{
    position: relative;
    margin: 0;
    display: block;

    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;

    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}

.field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;

    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field-area{
    height:auto;
    padding-top:5px;
    width:90%;
}

.field::after, .field::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;

    background-color: #e6e6e6;
}

.field::after{
    background-color: #2195F2;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.has-label .field-label{
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label{
    color: #2195F2;
}
.field.is-focused::after{
    transform: scaleX(1);
}

.field.error .field-label{
    color: #e74c3c;
}

.field.error::after{  /* quand le champs est vide elle met notre flied en rouge **/
    background-color: #e74c3c;
}


button{
        background-color:#34495e;
        border: 2px solid #34495e;
        display: block; /*La propriétés «display» Deux comportements d'affichage différents  Les balises s'affichant en "block" (bloc): elles prennent toute la largeur disponible et s'affichent avec un saut de ligne avant et après.*/
        width: 100%;
         height: 36px;
         color:#fff;
         border-radius: 2px;
         cursor: pointer;
        font-size: 16px;
         margin: 5px 0;
         outline: none;
         

}

/* elle me permet de changer la couleur de font de notre boutton*/

 button:hover{
             background: none;
             color: #34495e ;
 }




 .header{
            display: block;
            border-bottom: 2px solid #000;
            margin-top:40px;
 }



 .header.hearder-form{
      margin-bottom: 8px;
     
 }
 

p.errors{
    color:red;
}

.navbar .navbar-nav{
    margin-left: 150px;
}