
{% include 'navbar1.html.twig'%}

{% block head %}
      <title> Bienvenue sur notre application  </title>                   
{% endblock %}    
{% block body %}

      <div class="container">
            <div class="jumbotron">
                  <h2>Bienvenue sur notre application </h2>
                  <h2> de gestion de commerce.✍</h2>
                  <br>Cette application consite à gérer les clients
                  <br>les fournisseurs et les facturations etc...
                  <br> Pour l'utilisation de notre application<a href="register.php"> rejoingnez nous! </br>
            <br> <a class="btn btn-primary btn-lg" href="register.php" role="button">Je m'inscris</a> </p>
            </div>
      </div>

{% endblock %}          
                
