
{% include 'navbar2.html.twig'%}

{% block body  %}           
    <div class="row">
      <div class ="col-2">
        {% include 'nav.html.twig'%} 
      </div>
     <div class="col-9">
     <div class="container">
     <div class="card mt-3">
          <div class="card-header bg-primary">Ajoutez la facture du client</div>
            <div class="card-body">
            <form method="post" action="AjouteFacture.php" >
               <div class="form-group">
              <label for="text">Le nom du client:</label> 
              <input type="text" class="form-control" placeholder=" Entrez le nom du client" name="nomClient">
            </div>
              <div class="form-group">
              <label for="text">Le nom du produit:</label> 
              <input type="text" class="form-control" placeholder=" Entrez le nom du produit" name="nomProduit">
            </div>
              <div class="form-group">
              <label for="text">Libellé:</label> 
              <input type="text" class="form-control" placeholder=" Entrez le libellé" name="libelle" >
             </div>
              <div class="form-group">
              <label for="float">Le prix unitaire:</label> 
              <input type="float" class="form-control" placeholder=" Entrez le prix du produit" name="prixUnitaire">
            </div>
            <div class="form-group">
              <label for="number">Le nombre de stocke:</label> 
              <input type="number" class="form-control" placeholder=" Entrez la quantité" name="quantite">
            </div>
            
            <div class="form-group">
              <label for="date">La date de réception:</label> 
              <input type="date" class="form-control" name="date" >
            </div>
            <button type="submit"  class="btn btn-primary">Envoyer</button>
          </form>
         </div>
     </div>
     </div>  
    </div>
  </div>
   
  
{% endblock %} 



  