<!DOCTYPE html>
<html lang="fr">
  <head>
   
    <meta charset="utf-8">

   {% block stylesheet %}   
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">
  
    
    
	{% endblock %}
   



{% block script %}
       <script src="node_modules/jquery/dist/jquery.min.js"></script>
       <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> <!--- on met  bundle.min.js iten -->
       <script src="node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
  
 {% endblock %}
 
  </body>
</html>

