 
<ul class="nav flex-column " style="background-color: white;width=200px; size=250px">
  <li class="nav-item">
    <a class="nav-link active" href="home.php"> <i class="fas fa-home"></i>Tableau de bord
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="familles.php"><i class="fas fa-users"></i>  Familles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="produits.php"><i class="fas fa-desktop"></i>  Produits</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="clients.php"><i class="fas fa-male"></i>  Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="commandes.php"><i class="fas fa-shopping-cart"></i>  Commandes</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="fournisseurs.php"><i class="fas fa-truck"></i>  Fournisseurs</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fas fa-dolly"></i>  Gestion de stock</a>
     <div class="dropdown-menu">  
      <a class=" dropdown-item" href="EntreesStockes.php">Entrées</a>
      <a class=" dropdown-item" href="SortieStocks.php">Sorties</a>
     </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="Factures.php"><i class="fas fa-file-invoice"></i> Factures</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fas fa-money-bill-wave"></i>  Paiements</a>
     <div class="dropdown-menu">  
      <a class=" dropdown-item" href="PaiementsClients.php">Clients</a>
      <a class=" dropdown-item" href="PaieFournisseurs.php">Fournisseurs</a>
     </div>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="SendMails.php"> <i class="fas fa-envelope"></i> Mail</a>
  </li>

      

</ul>

