
{% include 'base2.html.twig'%}

<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
  <a class="navbar-brand " href="home.php">Gestion de Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <h5 class="mr-auto"></h5>
   <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="logout.php"><i class="fas fa-sign-out-alt"></i> Logout </a>
      </li>
    </ul>
  </div>
</nav>




