
{% include 'navbar2.html.twig'%}

{% block body  %}           
    <div class="row">
      <div class ="col-2">
        {% include 'nav.html.twig'%} 
      </div>
     <div class="col-9">
     <div class="container">
     <div class="card mt-3">
       <div class ="alert alert-danger d-none"></div>  <!-- d-none rend invisible-->
     <div class ="alert alert-success d-none"></div>
          <div class="card-header bg-primary">Ajoutez la commande</div>
            <div class="card-body">
            <form enctype="multipart/form-data" method="post" action="AjouteCommande.php" >
             <div class="form-group">
              <label for="number">N°Produit:</label> 
              <input type="number" class="form-control" placeholder=" Entrez le N° du produit" name="idProduit">
             </div>
              <div class="form-group">
              <label for="text">Nom du client:</label> 
              <input type="text" class="form-control" placeholder=" Entrez le nom de la commade" name="nomClient">
             </div>
             <div class="form-group">
              <label for="text">Nom du produit:</label> 
              <input type="text" class="form-control" placeholder=" Entrez le nom de la commade" name="nomProduit">
             </div>
              <div class="form-group">
              <label for="float">Le prix du produit:</label> 
              <input type="float" class="form-control" placeholder=" Entrez le prix du produit" name="prixUnitaire">
            </div>
            <div class="form-group">
              <label for="number">La quantité du produit:</label> 
              <input type="number" class="form-control" placeholder=" Entrez la quantité" name="quantite">
            </div>
            
            <div class="form-group">
              <label for="date">La date de livraison:</label> 
              <input type="date" class="form-control" name="date">
            </div>
            <button type="submit"  class="btn btn-primary">Envoyer</button>
          </form>
         </div>
     </div>
     </div>  
    </div>
  </div>
   
  
{% endblock %} 



  